.slides {
  --slides-count: 3;
  --slides-cols: 3;
  --slides-rows: 1;
  --slides-current: 0;
  --slides-gap: 1em;

  overflow: hidden;
}

.slides-content {
  display: grid;
  grid-template-rows: repeat(var(--slides-rows), auto);
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / var(--slides-count) * var(--slides-rows));

  width: calc(100% / (var(--slides-cols) * var(--slides-rows)) * var(--slides-count));
  transform: translateX(calc(-100% / var(--slides-count) * var(--slides-rows) * var(--slides-current)));

  transition: transform 450ms cubic-bezier(.22,1.31,.68,1.01);
}

.slide {
  /* width: calc(100% / var(--slides-count) * var(--slides-rows)); */
  margin: calc(var(--slides-gap) / 2);
}